
# =========================
# DJANGO
# =========================
SECRET_KEY=
DEBUG=

# =========================
# SERVER
# =========================
ALLOWED_HOSTS=

# =========================
# DATABASE
# =========================
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# =========================
# CORS
# =========================
CORS_ALLOWED_ORIGINS=

# =========================
# JWT
# =========================
ACCESS_TOKEN_LIFETIME=
REFRESH_TOKEN_LIFETIME=

# =========================
# MEDIA / FILES
# =========================
MEDIA_URL=
MEDIA_ROOT=

# =========================
# EMAIL (Opcional)
# =========================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

# =========================
# APP CONFIG
# =========================
TIME_ZONE=
LANGUAGE_CODE=

